<html>
  <body>
    <table style="border-spacing: 0">
      <tr>
        <td>
          <span style="font-size: 1.5em; font-weight: bold">
            <%= i18n.t("newsletter_title") %>
          </span>
        </td>

        <td style="text-align: right">
          <img width="100" height="100" src="<%= assetsUrl %>/img/psi-logo.png" />
        <td>
      </tr>

      <tr style="line-height: 50px">
        <td style="background-color: #fe8500; color: #fff; padding: 0 10px">
          <%= i18n.t("from_date_to_date", {startDate: startDate.format("L"), endDate: endDate.format("L")}) %>
        </td>

        <td style="background-color: #ff9510; color: #fff; padding: 0 10px">
          <%= details_title %>
        </td>
      </tr>
    </table>

    <% entries.forEach(entry => { %>
      <%- include('./' + entry.model, {entry}) %>
    <% }) %>

    <div>
      <%- include('./footer') %>
    </div>
  </body>
</html>
